@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color0: #f5d0ab;
    --bg-color1: #150b01;
    --text-color0: #f5d0ab;
    --text-color1: #fff;
    --text-color2: #000;
    --text-color3: #70543f;
    --text-color4: #fffff1;
    --text-color5: #383838;
    --family-1: "Poppins", sans-serif;
    --family-2: "Roboto", sans-serif;
}
html{
    scroll-behaviour: smooth;
}
body{
    font-family: var(--family-1);
    overflow-x: hidden;
    background-color: var(--text-color2);
}
.padd-15{
    padding: 3rem min(10rem, 8%);
}
.first-section{
    background: radial-gradient(rgba(0, 0, 0, 0.8),rgba(0, 6, 21, 0.5)), url(WhatsApp\ Image\ 2025-08-11\ at\ 11.35.11_77d4179a\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: var(--text-color4);
    height: 100vh;
    height: 100dvh;
}
header{
    padding: min(2rem, 3%) min(6rem, 5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid var(--text-color0);
    max-height: 120px;
    height: 100%;
}
header a{
    text-decoration: none;
    color: var(--text-color0);
    font-weight: 600;
}
header .social-icons a{
    margin-right: 1.4rem;
    font-size: clamp(1rem, calc(5vw + 1rem), 1.3rem);
    transition: .5s ease-out;
}
header .social-icons a:hover{
    color: var(--text-color1);
}
header .social-icons i{
    display: none;
}
header .cta{
    padding: 12px 30px;
    background-color: var(--text-color3);
    color: var(--text-color1);
    transition: .5s ease-in-out;
}
header .cta:hover{
    background-color: var(--bg-color1);
    color: var(--bg-color0);
}
header .small-screen{
    display: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    height: 100%;
}
nav .nav-links{
    margin: 0 1rem;
    transition: .5s ease-in;
}
nav .nav-links:hover{
    color: var(--text-color1);
}
nav a.logo{
    text-decoration: none;
    max-width: 170px;
    width: 100%;
    margin: 0 1rem 0 1rem;
}
nav a.logo img{
    width: 100%;
}

.first-section .hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-family: var(--family-2);
}
.first-section .hero .row1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    padding: min(12rem, 10%) min(15rem, 12%);
}
.first-section .hero .row1 h3{
    color: var(--text-color0);
    font-size: clamp(1rem, calc(5vw + 1rem), 1.3rem);
}
.first-section .hero .row1 h1{
    text-align: center;
    font-size: clamp(1.5rem, calc(5vw + 1rem), 3.5rem);
    font-weight: 600;
    font-family: var(--family-1);
    line-height: 4.5rem;
}
.first-section .hero .row1 p{
    font-size: clamp(.5rem, calc(5vw + 1rem), .9rem);
    text-align: center;
    line-height: 1.1rem;
    letter-spacing: 1px;
    font-family: var(--family-2);
}
.first-section .hero .row1 .cta{
    padding: 15px 32px;
    text-decoration: none;
    color: var(--text-color1);
    background-color: var(--text-color3);
    transition: .3s ease;
}
.first-section .hero .row1 .cta:hover{
    color: var(--text-color1);
    background-color: var(--bg-color1);
}
.second-section{
    width: 100%;
    height: auto;
}
.second-section h2{
    text-align: center;
    font-size: clamp(1.5rem, calc(5vw + 1rem), 3rem);
    color: var(--text-color1);
    padding: min(12rem, 10%);
    font-family: var(--family-2);
}
.third-section{
    background-color: var(--bg-color0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: auto;
}
.third-section .row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.third-section .row1 .col1{
    flex-basis: 50%;
    max-width: 50%;
    width: 100%;
}
.third-section .row1 .col1 img{
    width: 100%;
    max-height: 600px;
    height: 100%;
    object-fit: cover;
}
.third-section .row1 .col2{
    flex-basis: 50%;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: min(5rem, 8%);
}
.third-section .row2 .col1 h2,
.third-section .row1 .col2 h2{
    font-size: clamp(.8rem, calc(5vw + 1rem), 3.5rem);
    position: relative;
    width: fit-content;
    font-family: var(--family-2);
    color: var(--bg-color1);
}
.third-section .row2 .col1 h2::before,
.third-section .row1 .col2 h2::before{
    position: absolute;
    content: '';
    width: 30%;
    height: 3px;
    background-color: var(--text-color3);
    top: -20px;
    border-radius: .5rem;
}
.third-section .row2 .col2 .experience .text p,
.third-section .row2 .col1 p,
.third-section .row1 .col2 p{
    font-size: clamp(.8rem, calc(5vw + 1rem), 1rem);
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.5rem;
}
.third-section .row1 .col2 a{
    padding: 15px 30px;
    border: 1.5px solid var(--text-color3);
    width: fit-content;
    text-decoration: none;
    color: var(--text-color3);
    text-transform: capitalize;
    font-size: clamp(1rem, calc(5vw + 1rem), 1.2rem);
    font-weight: 600;
    transition: all .5s ease;
}
.third-section .row1 .col2 a i{
    margin-right: 20px;
}
.third-section .row1 .col2 a:hover{
    color: var(--text-color1);
    background-color: var(--text-color3);
}
.third-section .row1 .col2 .counter{
    display: flex;
    gap: 2rem;
    position: relative;
    margin-top: 2rem;
}
.third-section .row1 .col2 .counter::before{
    position: absolute;
    content: '';
    width: 95%;
    height: 1px;
    top: -20px;left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color3);
}
.third-section .row1 .col2 .counter .col{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    box-shadow: 5px 5px 20px 0.8 var(--text-color2);
}
.third-section .row1 .col2 .counter .col h1{
    font-size: clamp(2rem, calc(5vw + 1rem), 5rem);
    color: var(--bg-color1);
}
.third-section .row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 min(5rem, 5%);
}
.third-section .row2 .col1,
.third-section .row2 .col2{
    display: flex;
    flex-basis: 50%;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    padding: 0 min(3rem, 5%);
}
.third-section .row2 .col1,
.third-section .row2 .col2{
    justify-content: flex-start;
    height: 80vh;
}
.third-section .row2 .col2 .experience{
    display: flex;
    gap: 2rem;
    border-bottom: .5px solid var(--text-color0);
    padding-bottom: 2rem;
}
.third-section .row2 .col2 .experience h2{
    font-size: clamp(.8rem, calc(5vw + 1rem), 2rem);
    color: var(--text-color3);
}
.third-section .row2 .col2 .experience .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.third-section .row2 .col2 .experience .text h2{
    color: var(--bg-color1);
}
.third-section .row3{
    width: 100%;
}
.third-section .row3 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.forth-section .row1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: min(5rem, 5%);
}
.forth-section .row1 .col1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.forth-section .row1 .col1 h2{
    font-size: clamp(1rem, calc(5vw + 1rem), 3.3rem);
    position: relative;
    width: fit-content;
    color: var(--bg-color0);
}
.forth-section .row1 .col1 h2::before{
    position: absolute;
    content: '';
    width: 30%;
    height: 3px;
    border-radius: .5rem;
    top: -30px;
    background-color: var(--text-color3);
}
.forth-section .row1 .col1 p{
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: clamp(.8rem, calc(5vw + 1rem), 1rem);
    color: var(--bg-color0);
}
.forth-section .row1 .col2{
    display: flex;
    gap: 1rem;
    padding: min(6rem, 5%) 0;
    width: 100%;
}
.forth-section .row1 .col2 .card{
    border: 1px solid var(--text-color0);
    border-radius: 1rem;
    max-width: 400px;
    max-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    background-color: var(--text-color0);
}
.forth-section .row1 .col2 .card img{
    width: 100%;
    max-height: 250px;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}
.forth-section .row1 .col2 .card h3{
    font-size: clamp(1rem, calc(5vw + 1rem), 1.2rem);
    line-height: 2rem;
    padding: 0 1rem;
}
.forth-section .row1 .col2 .card a{
    text-align: center;
    text-decoration: none;
    color: var(--text-color4);
    background-color: var(--text-color3);
    width: 90%;
    padding: 12px 30px;
    border-radius: .5rem;
    margin: 0 auto;
}
.forth-section .testimonial{
    padding: min(4rem, 5%) 0;
    display: flex;
    gap: 2rem;
}
.forth-section .testimonial .row2{
    flex-basis: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.forth-section .testimonial .row2 .review{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.forth-section .testimonial .row2 .review i{
    font-size: clamp(1rem, calc(5vw + 1rem), 1.5rem);
    color: var(--bg-color0);
}
.forth-section .testimonial .row2 .review h4{
    font-size: clamp(.8rem, calc(5vw + 1rem), 1.1rem);
    letter-spacing: 1px;
    line-height: 1.4;
    color: var(--bg-color0);
}
.forth-section .testimonial .row2 .review .profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 2rem;
}
.forth-section .testimonial .row2 .review .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.forth-section .testimonial .row2 .review .profile h5{
    font-size: clamp(1rem, calc(5vw + 1rem), 1.2rem);
    font-weight: 200;
}
footer{
    display: flex;
    flex-direction: column;
    padding-top: min(5rem, 5%);
    background-color: var(--text-color0);
}
footer .col2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: min(3rem, 3%) min(4rem,5%);
}
footer .col2 .col4{
    padding: 2rem;
}
footer .col2:first-child{
    margin-top: -40px;
}
footer .col2 .col4 ul{
    list-style: none;
}
footer .col2 .col4 a{
    color: var(--bg-color1);
    text-decoration: none;
}
footer .col2 .col4 img{
    max-width: 250px;
    min-width: 200px;
    max-width: 100px;
    width: 100%;
    height: auto;
    text-align: start;
}
footer .col2 .col4 .icons a{
    margin-right: 10px;
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--bg-color1);
    text-decoration: none;
    border-radius: .5rem;
}
footer .col2 .col4 h3{
    font-size: clamp(1.5rem, calc(5vw + 1rem), 2rem);
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--bg-color1);
}
footer .col2 .col4 p.email{
    margin-bottom: 1.5rem;
}
footer .col2 .col4{
    padding: 2rem 1rem;
}
footer .copyright{
    border-top: 1px solid var(--text-color2);
    padding: min(4rem, 8%) 0;
    text-align: center;
}



@media (max-width:1024px) {
    .third-section .row1{
        gap: 1rem;
    }
    .padd-15{
        padding: min(4rem, 5%);
    }
    .third-section .row2{
        flex-direction: column;
        gap: 4rem;
    }
}

@media (max-width: 991px) {
    .item1{
        order: 2;
    }
    .item2{
        order: 1;
    }
    .item3{
        display: none;
    }
    header .social-icons i{
        display: inline;
        font-size: clamp(1rem, calc(5vw + 1rem), 1.3rem);
        padding-right: 2rem;
        color: var(--text-color0);
    }
    header nav .nav-links{
        display: none;
    }
    header .small-screen{
        display: block;
        position: fixed;
        top: 11.5%;
        right: 5%;
        max-width: 300px;
        min-width: 150px;
        width: 100%;
        background-color: var(--text-color1);
        border-radius: .5rem;
        box-shadow: 1px 1px 20px 0.5 var(--text-color0);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all.5s ease-in;
    }
    header .small-screen.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .small-screen a{
        display: block;
        color: var(--bg-color1);
        padding: 25px 30px;
        width: 100%;
        font-size: 2rem;
    }
    header .small-screen .active,
    header .small-screen a:hover{
        background-color: var(--text-color3);
        color: var(--text-color1);
    }
    .third-section .row1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .third-section .row1 .col1{
        flex-basis: 100%;
        max-width: 100%;
        width: 95%;
    }
    .third-section .row1 .col1 img{
        max-height: 400px;
    }
    .third-section .row1 .col2{
        flex-basis: 100%;
        max-width: 100%;
        width: 95%;
        gap: 2rem;
        padding: min(3rem, 3%);
    }
    footer .col2{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
    footer .col2 .col4{
        text-align: center;
    }
    
}
@media (max-width: 767px) {
    .forth-section .testimonial{
        margin-top: 4rem;
        flex-direction: column;
    }
    .forth-section .row1 .col2{
        gap: 2rem;
    }
    .forth-section .row1 .col2 .card{
        max-width: 100%;
        width: 100%;
    }
    .forth-section .row1 .col2 .card img{
        object-fit: cover;    
    }
    .forth-section .row1 .col2 .card a{
        width: fit-content;
    }
    .forth-section .row1 .col2{
        flex-direction: column;
    }
}

@media (max-width: 610px) {
    header{
        padding: min(2rem, 3%) min(2rem, 2%);
    }
    .first-section .hero .row2{
        display: none;
    }
    .third-section .row3{
        width: 100%;
        padding: min(4rem, 5%);
    }
}

@media (max-width: 416px) {
    .third-section .row2 .col2 .experience{
        flex-direction: column;
    }
    .third-section .row1 .col2 .counter,
    .third-section .row1 .col2 .counter .col{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 405px) {
    header .social-icons a{
        display: none;
    }
}

